doctype 
html
	block head
	head 
		title actageo-blog
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(name="author", content="Sebastian Koslitz")
		meta(name="geo.region", content="DE-SN")
		meta(name="geo.placename", content="Leipzig")
		meta(name="geo.position", content="51.3062;12.3739")
		meta(name="ICBM", content="51.3062, 12.3739")			
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", rel="stylesheet")
		link(rel='stylesheet', type="text/css", href=url_for('static', filename="css/bootstrap.min.css"))
		link(rel='stylesheet', type="text/css", href=url_for('static', filename="css/d3.css"))
		link(rel='stylesheet', type="text/css", href=url_for('static', filename="css/app.css"))
		link(href='http://fonts.googleapis.com/css?family=Bitter:400,700', rel='stylesheet', type='text/css')	
		//- link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")	
		script(src=url_for('static', filename="js/test.js"))
		//- script(src=url_for('static', filename="js/d3/d3.js"))
		//- script(src=url_for('static', filename="js/taiwan.js"))
		//- Jquery
		//- script(src=url_for('static', filename="js/vendor/jquery-1.9.1.min.js"))
	body.container
		block logo
		block content