extends base
block append content 
	.text-left
		a(href=url_for('python')) py
	.row
		.col-md-10.col-md-offset-2
			h1 Ein Atlas für den Tee
			p D3.js basierte Kartographie der Tee Anbaugebiete, Liste mit urls zu Themen des Tees
			a(href=url_for('teeatlas')) \\Link
	.row
		.col-md-10.col-md-offset-2
			h1 Mapping stuff
			p d3.js prototypes
	.row
		.col-md-10.col-md-offset-2
			h1 Charting stuff
			p d3.js prototypes
			a(href=url_for('charts')) \\Link
	.row
		.col-md-10.col-md-offset-2
			h1 d3.js Spielwiese
			p diverse mockups	
			a(href=url_for('d3mockup')) \\Link
	.row
		.col-md-10.col-md-offset-2
			h1 Projektmanagement
			p Struktur der Projektmanagement
			a(href=url_for('projektstruktur')) \\Link